<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/global.css" />
  <link rel="stylesheet" href="/public/css/cartpage.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <!-- 헤더 -->
  <%- include("header") -%>
    <div class="mainwrap">
      <div class="carttitlebox">
        <div class="carttitle">
          <h2>장바구니</h2>
        </div>

      </div>

      <main>
        <% let totalprice=0; %>
          <% let totalamount=0; %>
            <% if(data.length===0){ %>
              <div class="cartwrap">
                <div class="cartbox">
                  <div><img src="/public/image/cartbin.png" alt="빈장바구니" /></div>
                  <div class="carttext">장바구니가 비어있어요!</div>
                  <div class="carttext2">
                    <div>다양한 상품을 구경하고</div>
                    <div>나에게 맞는 상품을 담아보세요!</div>
                  </div>
                </div>
              </div>
              <% } else{ %>
                <div class="menuwrap">
                  <hr />
                  <div class="menubox">
                    <% data.forEach((x)=>{%>
                      <div class="itemwrap">
                        <a href="/webtoons/move/itemdetail/<%= x.itemid %>" class="atag">
                          <div class="itemimgbox">
                            <img class="itemimg" src="<%= x.url %>" alt="상품이미지" />
                          </div>
                        </a>
                        <div class="textbox">
                          <div class="deletebox">
                            <img class="deleteimg" src="/public/image/close.png" onclick="deleteone(`<%= x.id %>`)" />
                          </div>
                          <div class="titletext">
                            <%= x.name %>
                          </div>
                          <div class="detailtext">
                            <%= x.detail %>
                          </div>
                          <div class="pricetext">
                            <span class="pricebox<%=x.itemid %>">
                              <%= x.price.toLocaleString() %>
                            </span>원

                          </div>
                          <div class="amountbox amountbox">
                            <button class="minus minus<%=x.itemid %>" onclick="minus(`<%= x.itemid %>`)">-</button>
                            <div class="amount amount<%=x.itemid %>">
                              <%= x.amount %>
                            </div>
                            <button class="plus" onclick="plus(`<%= x.itemid %>`)">+</button>
                          </div>
                        </div>
                      </div>

                      <% totalprice+=Number(x.price)%>
                        <% totalamount+=Number(x.amount) %>
                          <% }); %>
                            <div class="buywrap">
                              <div class="buybox">
                                <div class="order-card">
                                  <h2>주문 정보</h2>
                                  <hr />
                                  <div class="order-item">
                                    총 수량
                                    <span>
                                      <%= totalamount %>개
                                    </span>
                                  </div>
                                  <div class="order-item">
                                    총 상품금액
                                    <span>
                                      <%= totalprice.toLocaleString() %>원
                                    </span>
                                  </div>
                                  <div class="order-item">
                                    총 배송비
                                    <span>
                                      3,000원
                                    </span>
                                  </div>
                                  <hr />
                                  <div class="order-item total">
                                    총 주문금액
                                    <span>
                                      <%= (totalprice+3000).toLocaleString() %>원
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="buyBtnbox">
                                <button class="buyBtn" onclick="readyalert()">주문서 작성</button>
                              </div>
                            </div>
                  </div>
                  <hr />
                  <div class="totalwrap">
                    <div class="totalbox">
                      <div class="text1">상품 금액</div>
                      <div class="text2">
                        <%= totalprice.toLocaleString() %>원
                      </div>
                      <div class="text3">+</div>
                      <div class="text4">배송비</div>
                      <div class="text5">3,000원</div>
                      <div class="text6">=</div>
                      <div class="text7">주문 금액</div>
                      <div class="text8">
                        <%= (totalprice+3000).toLocaleString() %>원
                      </div>
                    </div>

                  </div>
                </div>
                <div class="allDeleteBtnbox">
                  <button class="allDeleteBtn" onclick="allDelete()">전체 삭제</button>
                </div>

                <% } %>
      </main>
    </div>
    <div class="flexbox"></div>

    <!-- 푸터 -->
    <%- include("footer") -%>
</body>
<script src="/public/js/cartpage.js"></script>

</html>