<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/global.css" />
  <link rel="stylesheet" href="/public/css/main.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebtoonPop</title>
</head>

<body>
  <!-- 헤더 -->
  <%- include("header") -%>

    <div class="mainwrap">
      <main class="menu">
        <% data.forEach((x)=>{ %>
          <a href="/webtoons/move/detail/<%= x.id %>" class="atag">
            <div id="<%= x.id %>" class="box">
              <div class="backbox">
                <img class="backimg" src="<%= x.mainurl %>" alt="배경이미지" />

                <div class="contentbox">
                  <div class=" imgbox"><img class="imgs" src="<%= x.mainurl %>" alt="프로필이미지" /></div>
                  <div class="textbox">
                    <div class="textflex">
                      <div class="textalign title">
                        <%= x.name %>
                      </div>
                      <div class="textalign author">
                        <%= x.author %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </a>

          <% }) %>

      </main>
      <div class="flexbox"></div>

      <!-- 푸터 -->
      <%- include("footer") -%>
    </div>
</body>

</html>