<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/global.css" />
  <link rel="stylesheet" href="/public/css/registration.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <!-- 헤더 -->
  <%- include("header") -%>
    <div class="mainwrap">
      <div class="mainbox">
        <form name="mainForm" enctype="multipart/form-data">
          <div class="inputs">
            <div>
              <div class="selectimgbox">
                <!-- 이미지 -->
                <label for="image" id="select-img">
                  <div class="btn-upload">프로필이미지 선택</div>
                </label>
                <input id="image" oninput="binImg('')" type="file" name="image" />
                <div class="filenamee">선택된 파일 없음</div>
              </div>

              <div class="selectimgbox">
                <!-- 이미지 -->
                <label for="image2" id="select-img2">
                  <div class="btn-upload">배너이미지 선택</div>
                </label>
                <input id="image2" oninput="binImg('2')" type="file" name="image2" />
                <div class="filenamee2">선택된 파일 없음</div>
              </div>
            </div>
            <div class="inputbox">
              <input oninput="checkBin('title')" id="title" name="title" placeholder="웹툰 제목을 입력해주세요." />
              <input oninput="checkBin('author')" id="author" name="author" placeholder="작가 이름을 입력해주세요." />
              <div>
                <button class="btn" onclick="createData(event)" disabled>등록</button>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="tablestyle">
          <table class="tablebox">
            <thead>
              <tr>
                <th>프로필이미지</th>
                <th>배너이미지</th>
                <th>제목</th>
                <th>작가</th>
                <th>수정</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i < data.length;i++){ %>
                <tr id="tr_<%= data[i].id %>">
                  <td>
                    <img src="<%= data[i].mainurl %>" width="50" height="50" />
                  </td>
                  <td>
                    <img src="<%= data[i].bannerurl %>" width="50" height="50" />
                  </td>
                  <td>
                    <%= data[i].name %>
                  </td>
                  <td>
                    <%= data[i].author %>
                  </td>
                  <td><button class="btn" type="button" onclick="updatePage(`<%= data[i].id %>`)">수정</button></td>
                  <td><button class="btn" type="button" onclick="deletewebtoons(`<%= data[i].id %>`)">삭제</button></td>
                </tr>
                <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flexbox"></div>
    <!-- 푸터 -->
    <%- include("footer") -%>
</body>

<script src="/public/js/registration.js"></script>

</html>