<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/css/webtoonwrite.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <h1>수정 페이지</h1>
  <form name="updateData">
    <div class="selectimgbox">
      <!-- 이미지 -->
      <label for="image" id="select-img">
        <div class="preimgbox"><img class="preimg" src="<%=data[0].mainurl %>" alt=" 선택한 이미지" /></div>
      </label>
      <input id="image" oninput="binImg('')" type="file" name="image" />
      <div class="filenamee">
        <div>
          <%= data[0].mainurl.replace(/^.*\//, '' ) %>
        </div>
      </div>
    </div>

    <div class="selectimgbox">
      <!-- 이미지 -->
      <label for="image2" id="select-img2">
        <div class="preimgbox"><img class="preimg" src="<%=data[0].bannerurl %>" alt="선택한 이미지" /></div>
      </label>
      <input id="image2" oninput="binImg('2')" type="file" name="image2" />
      <div class="filenamee2">
        <div>
          <%= data[0].mainurl.replace(/^.*\//, '' ) %>
        </div>
      </div>
    </div>
    <div>
      제목
      <input name="name" value="<%= data[0].name %>" />
    </div>
    <div>
      작가 이름
      <input name="author" value="<%= data[0].author %>" />
    </div>
    <div>
      줄거리
      <input name="comment" value="<%= data[0].summary %>" />
    </div>
    <button onclick="updateForm(event, `<%= data[0].id %>`)">수정</button>
  </form>
</body>
<script src="/public/js/webtoonwrite.js"></script>

</html>