<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #fdf5e6;
    color: #4b4b4b;
    margin: 0;
    padding: 0;
  }

  .footer {
    background-color: #d2b48c;
    color: #fff8e7;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    font-size: 10px;
  }

  .footerwrap {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin: 0 10px;
  }

  .footerbox {
    display: flex;
  }

  .footermargin {
    margin-left: 10px;
  }

  /* 헤더 */
  .header {
    width: 100%;
    background-color: #deb887;
    height: 120px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  /* 헤더 안 상자 */
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  /* 각 아이콘의 박스 */
  .iconbox {
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* 로고 아이콘 */
  .home {
    padding: 5px;
    height: 100%;
  }

  /* 로그인 아이콘 + 장바구니 아이콘 */
  .login,
  .cart {
    width: 70px;
    margin: 8px;
    height: 100%;
  }

  .login {
    cursor: pointer;
  }

  /* 로그인 + 장바구니 상자 */
  .controlBtn {
    display: flex;
    align-items: center;
    margin: 0 8px;
  }

  /* 전체 상자(푸터 하단에 고정하기 위해) */
  .input-wrap {
    display: flex;
    flex-direction: column;
    height: 83.3vh;

    margin-top: 150px;
  }

  /* 등록하는 부분 + 등록된 상품들 */
  .mainform,
  .main-wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fffaf0;
  }

  .main-wrap {
    margin-top: 10px;
  }

  /* 푸터 하단에 고정하기 위해 컨텐츠에 flex:1 */
  .bodybox {
    flex: 1;
  }

  /* 이미지+등록할 정보 */
  .fleximg {
    display: flex;
  }

  .selectimgbox {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  .preimgbox {
    width: 200px;
    height: 200px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .preimgbox:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #888;
  }

  .preimgbox:hover::after {
    content: "수정";
    color: #fff;
    position: absolute;
    font-size: 15px;
    z-index: 20;
  }

  .preimg {
    width: 100%;
    margin: 0 auto;
  }

  .btn-upload {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa;
    transition: background-color 0.3s;
  }

  .btn-upload:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #888;
  }

  .btn-upload:hover::after {
    content: "+";
    color: #fff;
    position: absolute;
    font-size: 30px;
  }

  #image,
  #image2 {
    display: none;
  }

  /* 등록할 정보들 */
  .flextext {
    width: 100%;
  }

  .flextext input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d2b48c;
    border-radius: 6px;
    background-color: #fefae0;
  }

  .input-wrap input:focus {
    outline: none;
    border: 2px solid #ff8c00;
  }

  .idd_value {
    font-size: 12px;
    color: #b22222;
    margin-bottom: 10px;
  }

  .dupleCheckBox {
    position: relative;
  }

  .duplebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    margin-left: auto;
    padding: 5px 10px;
    background-color: #deb887;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .duplebtn:hover {
    background-color: #bc8f8f;
  }

  .namee,
  .price,
  .content {
    margin-bottom: 10px;
  }

  /* type 선택 부분 */
  .selectbox {
    margin-bottom: 10px;
    padding: 10px;
  }

  select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    padding: 0.4em 1.1em 0.2em 0.2em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  }

  select:focus {
    outline: 2px solid #ff8c00;
  }

  option {
    padding: 4px;
    font-size: 14px;
    color: #fff;
    background: #272822;
  }

  /* 상품 이미지 크기조절 */
  .imgbox {
    margin: 0 auto;
  }

  .imgs {
    max-width: 100%;
    object-fit: contain;
    height: 150px;
  }

  /* 버튼 */
  .btn {
    display: block;
    margin-left: auto;
    padding: 10px 20px;
    background-color: #deb887;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #bc8f8f;
  }

  button:disabled {
    cursor: not-allowed;
    background-color: gray;
  }

  button[disabled]:hover {
    background-color: gray;
  }

  /* 동적으로 생긴 테이블 */
  .main-wrap table {
    table-layout: fixed;
    word-wrap: break-word;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table td {
    border: 1px solid #d2b48c;
    padding: 10px;
    text-align: center;
  }

  table thead {
    background-color: #f5deb3;
    text-align: center;
  }

  /* 삭제, 엑셀다운 */
  .changebtn {
    padding: 10px 20px;
    margin: 2px;
    background-color: #deb887;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .changebtn:hover {
    background-color: #bc8f8f;
  }

  /* 조건 확인 */
  .changecar {
    font-size: 12px;
    color: #b22222;
  }

  /* 관리 버튼 상자 */
  .flexbtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 엑셀 다운받기 버튼 */
  .execelbtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 860px) {
    .input-wrap {
      margin-top: 120px;
    }

    .header {
      height: 100px;
    }

    .home {
      width: 100px;
      height: auto;
    }

    .login,
    .cart {
      width: 60px;
      margin: 5px;
    }

    .footer {
      font-size: 8px;
      height: 70px;
    }

    .footerwrap {
      height: 70px;
    }
  }

  @media (max-width: 768px) {
    .btn {
      width: 100%;
      text-align: center;
    }

    .changebtn {
      padding: 10px 10px;
    }

    .flexbtn {
      display: flex;
      flex-direction: column;
    }

    .duplebtn {
      width: 100%;
      text-align: center;
      position: inherit;
      margin-left: 5px;
    }

    .idd_value {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 650px) {
    .input-wrap {
      margin-top: 100px;
    }

    .header {
      height: 80px;
    }

    .home {
      width: 90px;
      height: auto;
    }

    .login,
    .cart {
      width: 50px;
      margin: 3px;
    }

    .footer {
      height: 60px;
    }

    .footerwrap {
      height: 60px;
    }

    .footerbox {
      font-size: 5px;
    }
  }
</style>

<body>
  <h1>수정 페이지</h1>
  <form name="updateData">
    <div class="selectimgbox">
      <!-- 이미지 -->
      <label for="image" id="select-img">
        <div class="preimgbox"><img class="preimg" src="<%=data[0].mainurl %>" alt=" 선택한 이미지" /></div>
      </label>
      <input id="image" oninput="binImg('')" type="file" name="image" />
      <div class="filenamee">
        <div>
          <%= data[0].mainurl.replace(/^.*\//, '' ) %>
        </div>
      </div>
    </div>

    <div class="selectimgbox">
      <!-- 이미지 -->
      <label for="image2" id="select-img2">
        <div class="preimgbox"><img class="preimg" src="<%=data[0].bannerurl %>" alt="선택한 이미지" /></div>
      </label>
      <input id="image2" oninput="binImg('2')" type="file" name="image2" />
      <div class="filenamee2">
        <div>
          <%= data[0].mainurl.replace(/^.*\//, '' ) %>
        </div>
      </div>
    </div>
    <div>
      제목
      <input name="name" value="<%= data[0].name %>" />
    </div>
    <div>
      줄거리
      <input name="comment" value="<%= data[0].summary %>" />
    </div>
    <button onclick="updateForm(event, `<%= data[0].id %>`)">수정</button>
  </form>
</body>
<script>
  const updateForm = (event, id) => {
    event.preventDefault();
    const form = document.forms['updateData'];

    const title = form["name"].value;
    const comment = form["comment"].value;
    const image = document.getElementById("image").files[0];
    const image2 = document.getElementById("image2").files[0];

    const formData = new FormData();
    formData.append("name", title);
    formData.append("summary", comment);
    formData.append("image", image);
    formData.append("image2", image2);

    axios({
      method: "put",
      url: `/webtoons/update/${id}`,
      data: formData,
    }).then((res) => {
      alert("수정 성공!!");
      window.location.href = "/webtoons/registration";
    })
      .catch((e) => { })

  }

  const binImg = (num) => {
    const form = document.forms["updateData"];
    const filenamee = document.querySelector(`.filenamee${num}`);
    const imgpreview = document.getElementById(`select-img${num}`);
    const selectimg = document.getElementById(`image${num}`)
    const fReader = new FileReader();

    if (num === '2') {
      filenamee.innerHTML = `<div>${form.image2.files[0].name}</div>`;

      fReader.readAsDataURL(form.image2.files[0]);
    } else if (num === '') {
      filenamee.innerHTML = `<div>${form.image.files[0].name}</div>`;

      fReader.readAsDataURL(form.image.files[0]);
    }

    fReader.onloadend = (event) => {
      const path = event.target.result;
      imgpreview.innerHTML = `<div class="preimgbox"><img class="preimg" src="${path}" alt="선택한 이미지" /></div>`;
    };

    // if (selectimg.value.length === 0) {
    //   isbincheck[0] = 0;
    // } else {
    //   isbincheck[0] = 1;
    // }
  };
</script>

</html>